<a href="https://colab.research.google.com/github/SudhakarAnemu/AI-DS-ML-DL/blob/master/ChangeAnalysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Imporitng all required packages
<br>useful links
<br>https://pythonspot.com/read-excel-with-pandas/
<br>

In [6]:
import pandas as pd
from pandas import ExcelWriter
from pandas import ExcelFile
print("Import complete")

Import complete

In [0]:
# df = pd.read_excel('PRCRINC.xlsx', sheetname='Changes') #not working
df = pd.read_excel('PRCRINC.xlsx')

In [4]:
df.head()

   Change ID     Scheduled Start  ... Risk Level             Impact
0  CRQ123489 2013-08-15 11:00:00  ...        1.0  4-Minor/Localized
1  CRQ127982 2013-09-26 09:30:00  ...        1.0  4-Minor/Localized
2  CRQ132402 2013-11-02 10:00:00  ...        1.0  4-Minor/Localized
3  CRQ143119 2014-02-18 15:00:00  ...        1.0  4-Minor/Localized
4  CRQ143868 2014-02-25 13:15:00  ...        1.0  4-Minor/Localized

[5 rows x 17 columns]

In [13]:
df.dtypes

Change ID                        object
Scheduled Start          datetime64[ns]
Status                           object
Summary                          object
Assignee                         object
Change Manager                   object
Assignee Group                   object
Affected Parties                 object
Notes                            object
Scheduled Outage                 object
Submitted                datetime64[ns]
Requestor                        object
Scheduled Duration               object
Change Timing                    object
Categorization Tier 2            object
Risk Level                      float64
Impact                           object
dtype: object

In [11]:
df.shape

(489, 17)

In [12]:
df.info

<bound method DataFrame.info of      Change ID     Scheduled Start  ... Risk Level             Impact
0    CRQ123489 2013-08-15 11:00:00  ...        1.0  4-Minor/Localized
1    CRQ127982 2013-09-26 09:30:00  ...        1.0  4-Minor/Localized
2    CRQ132402 2013-11-02 10:00:00  ...        1.0  4-Minor/Localized
3    CRQ143119 2014-02-18 15:00:00  ...        1.0  4-Minor/Localized
4    CRQ143868 2014-02-25 13:15:00  ...        1.0  4-Minor/Localized
..         ...                 ...  ...        ...                ...
484  CRQ353387                 NaT  ...        1.0  4-Minor/Localized
485  CRQ271473                 NaT  ...        1.0  4-Minor/Localized
486  CRQ373203                 NaT  ...        1.0  4-Minor/Localized
487  CRQ373528                 NaT  ...        1.0  4-Minor/Localized
488  CRQ363242                 NaT  ...        1.0  4-Minor/Localized

[489 rows x 17 columns]>

In [15]:
df.isnull().sum()

Change ID                  3
Scheduled Start          134
Status                     3
Summary                    3
Assignee                   9
Change Manager             3
Assignee Group             3
Affected Parties          14
Notes                      3
Scheduled Outage           6
Submitted                  3
Requestor                  3
Scheduled Duration         3
Change Timing              3
Categorization Tier 2      3
Risk Level                 3
Impact                     3
dtype: int64

In [16]:
df.describe()

       Risk Level
count  486.000000
mean     1.065844
std      0.351412
min      1.000000
25%      1.000000
50%      1.000000
75%      1.000000
max      5.000000

In [0]:
# for i in df.columns:
#   print(300*'*')
#   print("Name of the column : ", i)
#   print("Unique Values : ", df[i].unique())

# Plotly

In [30]:
plotty_df = pd.read_excel('PRCRINC.xlsx')

fig = go.Figure(data=[go.Table(
    header=dict(values=list(plotty_df.columns),
                fill_color='paleturquoise',
                align='left'),
    cells=dict(values=[plotty_df.bone_length, plotty_df.rotting_flesh, plotty_df.hair_length, plotty_df.has_soul, plotty_df.color, plotty_df.type],
               fill_color='lavender',
               align='left'))
])

fig.show()

NameError: ignored